/netdata-1.12.2.tar.gz
/results*
/*.rpm
/netdata-1.13.0.tar.gz
/netdata-1.14.0.tar.gz
/netdata-1.15.0.tar.gz
/netdata-1.16.0.tar.gz
/netdata-1.17.0.tar.gz
/netdata-1.17.1.tar.gz
/netdata-1.18.1.tar.gz
